{% extends "base.html" %}
{% block title %}Главная страница Eazy-Quizzy!{% endblock %}
{% block content %}

<h1>Список тестов-квизов на нашем сайте:</h1>
<hr>
{% for quiz in page_obj %}
<b>Название: <a href="{% url 'quizzes:quiz_details' quiz.id %}">{{ quiz.title }}</a></b><br>
Тема: <a href="{% url 'quizzes:index' %}?theme={{ quiz.theme.id }}">{{ quiz.theme.title }}</a><br>
Добавлен на сайт: {{ quiz.created }}<br>
Вопросов: {{ quiz.questions_number }}<br>
{% if user.is_authenticated%}
Попыток: {{ quiz.attempts_number }}
{% endif %}

<hr>
{% endfor %}

{% include 'includes/pagination.html' %}

{% endblock %}