{% extends "base.html" %}
{% block title %}Главная страница Eazy-Quizzy!{% endblock %}
{% block content %}
{% load user_filters %}

Квиз: {{ object.title }}<br>
Тема: {{ object.theme.title }}<br>
Добавлен: {{ object.created }}<br>
Вопросов: {{ object.questions.count }}<br>
<a href="{% url 'quizzes:quiz_attempt' object.pk %}" class="btn btn-sm btn-danger">
    Пройти
</a>
<br>
<br>
Попытки:<br>
<hr>
{% for attempt in object.attempts.all %}
Начал: {{ attempt.created }}<br>
Закончил: {{ attempt.updated }}<br>
{% if attempt.is_completed %}
Статус: Пройден; <br>
Верных ответов: {{ attempt.right }} / {{ attempt.total_answered }}
({{ attempt.right|as_percentage_of:attempt.total_answered }})<br>
{% else %}
Статус: Начат; Дано ответов: {{ attempt.total_answered }}<br>
{% endif %}
<hr>
{% empty %}
Вы еще не проходили тест<br>
{% endfor %}

{% endblock %}